/* ==UserStyle==
@name         Twitch Extra Font
@namespace    https://gitlab.com/HeapUnderflow/userscripts_usercss
@version      1.0.1
@description  Includes the font "undefined-medium" on any twitch page for use with FrankerFaceZ
@author       HeapUnderflow <heapunderflow@outlook.com> [https://gitlab.com/HeapUnderflow/personal-stylus-css]
@license      BSD-3-Clause
@preprocessor default
==/UserStyle== */
@-moz-document domain("twitch.tv") {
    @font-face {
        font-family: "undefined-medium";
        src: url("https://raw.githubusercontent.com/andirueckel/undefined-medium/26192bca93f43371d3a6db023f2fdb76172ea9c5/fonts/webfonts/undefined-medium.woff");
        font-weight: normal;
        font-style: normal;
    }
}