/* ==UserStyle==
@name         Darker Orange
@namespace    https://gitlab.com/HeapUnderflow/userscripts_usercss
@version      1.0.1
@description  Dark + Orange github theme
@author       Yanrishatum [https://github.com/yanrishatum]
@license      BSD-3-Clause
@preprocessor default
==/UserStyle== */
@-moz-document domain("twitch.tv") {
    :root {
        --bg-color: #1c1c1c;
        --bg-alt-color: #161616;
        --bg-alt2-color: #141414;

        --bg-textarea: #222;

        --nav-link-active: #404040;
        --nav-link-hover: #5c5c5c;

        --link-color: #ff8b34;
        --link-hover: #ffad70;

        --border: #070707;
    }

    .tw-root--theme-dark .chat-viewers__pane,
    .tw-root--theme-dark .twilight-root {
        background-color: var(--bg-color) !important;
    }

    .tw-root--theme-dark .channel-header,
    .tw-root--theme-dark .top-nav__menu,
    .tw-root--theme-dark .drag-and-drop-card-placeholder,
    .tw-root--theme-dark .tw-c-background-alt {
        background-color: var(--bg-alt-color) !important;
    }

    .tw-root--theme-dark .channel-info-bar,
    .tw-root--theme-dark .chat-viewers__header,
    .tw-root--theme-dark .t-bits-card__footer,
    .tw-root--theme-dark .side-nav__overlay-wrapper,
    .tw-root--theme-dark .side-nav__theme-wrapper,
    .tw-root--theme-dark .tw-input,
    .tw-root--theme-dark .tw-select,
    .tw-root--theme-dark .tw-c-background-alt-2 {
        background-color: var(--bg-alt2-color) !important;
    }

    .tw-root--theme-dark .chat-line__message.bttv-split-chat-alt-bg,
    .tw-root--theme-dark .vod-message.bttv-split-chat-alt-bg,
    .tw-root--theme-dark .tw-c-background-base,
    .tw-root--theme-dark .tw-textarea {
        background-color: var(--bg-textarea) !important;
    }

    .tw-root--theme-dark .dashboard-side-nav__link--active {
        background-color: var(--nav-link-active) !important;
    }

    .tw-root--theme-dark .dashboard-side-nav__link:hover {
        background-color: var(--nav-link-hover) !important;
    }

    .tw-root--theme-dark .tw-pill,
    .tw-root--theme-dark .tw-pill--brand {
        background-color: #662516;
    }

    .tw-pill--overlay,
    .tw-root--theme-dark .tw-pill--overlay,
    .tw-root--theme-light .tw-pill--overlay {
        box-shadow: 0 0 0 1px #000000a6
    }

    .tw-root--hover .tw-button:hover,
    .tw-root--theme-dark.tw-root--hover .tw-button:hover,
    .tw-root--theme-light.tw-root--hover .tw-button:hover,
    .tw-button:focus,
    .tw-root--theme-dark .tw-button:focus,
    .tw-root--theme-light .tw-button:focus,
    .tw-root--theme-dark .tw-border-b,
    .tw-root--theme-dark .tw-border-t,
    .tw-root--theme-dark .tw-border-r,
    .bits-leaderboard-expanded__section-break,
    .tw-root--theme-dark .chat-viewers__header,
    .tw-root--theme-dark .tw-input,
    .tw-root--theme-dark .channel-header,
    .tw-root--theme-dark .emote-picker__content-block:not(:first-child),
    .tw-root--theme-dark .tw-select,
    .tw-root--theme-dark .tw-border-l,
    .tw-root--theme-dark .tw-textarea {
        border-color: var(--border) !important;
    }

    .tw-root--theme-dark .tw-tab-wrapper {
        box-shadow: inset 0 -1px 0 var(--border);
    }

    .tw-root--theme-dark .tw-tab:not(.tw-tab--disabled) .tw-tab__link.tw-tab__link--active {
        box-shadow: inset 0 -1px 0 var(--link-color);
    }

    .tw-root--theme-dark.tw-root--hover .tw-tab:not(.tw-tab--disabled) .tw-tab__link:hover,
    .tw-root--theme-light.tw-root--hover .tw-tab:not(.tw-tab--disabled) .tw-tab__link:hover {
        box-shadow: inset 0 -1px 0 var(--link-hover);
    }


    .tw-root--theme-dark .emote-picker__tab--active {
        border-color: #959595;
    }

    .tw-root--theme-dark .tw-button--overlay.tw-button--hollow,
    .tw-root--theme-dark .tw-button--hollow,
    .emote-picker__tab--active,
    .emote-picker__tab:hover,
    .tw-root--theme-dark .emote-picker__tab:hover,
    .tw-root--theme-light .emote-picker__tab:hover {
        border-color: #4b4b4b;
    }

    .tw-root--theme-dark .mention-fragment {
        background-color: #4d2715;
    }

    .tw-root--theme-dark .tw-input,
    .tw-root--theme-dark .tw-select,
    .tw-button,
    .tw-root--theme-dark .tw-button,
    .tw-root--theme-light .tw-button,
    .tw-root--theme-dark .tw-textarea {
        border-radius: 0px !important;
    }

    .tw-root--theme-dark .mention-fragment--recipient {
        background-color: #faf9fa;
        color: #19171c;
    }

    .tw-root--theme-dark.tw-root--hover .tw-interactable--inverted:hover,
    .tw-root--theme-dark .scrollable-area .simplebar-track .simplebar-scrollbar,
    .tw-button,
    .tw-root--theme-dark .tw-button,
    .tw-root--theme-light .tw-button {
        background-color: #2f2f2f !important;
    }

    .tw-root--theme-dark.tw-root--hover .tw-button-icon:focus,
    .tw-root--theme-dark .tw-button-icon:focus {
        background: rgba(124, 124, 124, .2);
        border-color: rgba(47, 47, 47, .4);
    }

    .tw-root--theme-dark.tw-root--hover .tw-button-icon:hover,
    .tw-root--theme-dark.tw-root--hover .tw-button-icon--secondary:hover {
        background: rgba(73, 73, 73, .2);
    }

    .tw-root--theme-dark .tw-checkbox__label:before,
    .tw-root--theme-dark .tw-button-icon:focus,
    .tw-button:focus,
    .tw-root--theme-dark .tw-button:focus,
    .tw-root--theme-light .tw-button:focus,
    .tw-input:focus,
    .tw-root--theme-dark .tw-input:focus,
    .tw-root--theme-light .tw-input:focus,
    .tw-root--theme-dark .tw-textarea:focus,
    .tw-root--theme-light .tw-textarea:focus,
    .tw-textarea:focus {
        box-shadow: 0 0 6px -2px #9c9c9c
    }

    .tw-root--theme-dark .tw-checkbox__label:before {
        box-shadow: inset 0 0 0 1px var(--link-color), 0 0 0 transparent !important;
    }

    .tw-checkbox__input:checked+.tw-checkbox__label:before,
    .tw-root--theme-dark .tw-checkbox__input:checked+.tw-checkbox__label:before,
    .tw-root--theme-light .tw-checkbox__input:checked+.tw-checkbox__label:before {
        background-color: var(--link-color) !important;
        box-shadow: inset 0 0 0 1px var(--link-color)
    }

    .tw-root--theme-dark .room-picker__label--active-main:after,
    .tw-root--theme-light .room-picker__label--active-main:after {
        border-color: var(--link-color) !important;
    }

    .tw-root--theme-dark a,
    .tw-root--theme-dark .tw-c-text-link {
        color: var(--link-color) !important;
    }

    .tw-root--theme-dark a:hover {
        color: var(--link-hover) !important;
    }

    .tw-root--theme-dark .chat-line__message.bttv-highlighted,
    .tw-root--theme-dark .vod-message.bttv-highlighted,
    .ffz-mentioned {
        background-color: #7c2e0a !important;
    }

    .ffz--highlight {
        background-color: rgb(89, 163, 255) !important;
        padding-top: 0px;
    }

    .chat-line__message--badges>.ffz-badge {
        background-size: 1rem !important;
        min-width: 10px;
        transition: all 0.2s ease;
        position: relative;
    }

    .chat-line__message--badges>.ffz-badge:hover {
        background-size: 1.8rem !important;
    }

    .chat-badge,
    .chat-line__message--badges>.ffz-badge {
        border-radius: 0px;
        width: 10px !important;
        height: 10px !important;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .chat-badge:hover,
    .chat-line__message--badges>.ffz-badge:hover {
        width: 20px !important;
        height: 20px !important;
        margin-right: -7px;
        margin-bottom: 0px;
        margin-top: 0px;
        z-index: 10;
    }

    .drag-and-drop-layout-scrollable-area__expanded-view .drag-and-drop-layout>div {
        margin-left: 1em !important;
        margin-right: 1em !important;
    }

    .ffz__tooltip--arrow,
    .ffz__tooltip {
        background-color: var(--bg-color) !important;
        color: white !important;
    }
}